* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #227c9d;
    --border-color: #0b2934;
    --font-color: #f1f5f9;
    --victory-color: #ffcb777b;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    font-family: sans-serif;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    text-transform: uppercase;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

input, #start {
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 13rem;
}

#players, p {
    font-size: 2.2rem;
    text-align: center;
    text-shadow: 1px 1px #00000060;
}

#players {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

p {
    color: #fff23f;
    display: none;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

input {
    background-color: var(--font-color);
    color: var(--border-color);
    display: block;
    text-align: center;
    text-shadow: 1px 1px #00000040;
}

#start {
    background-color: var(--border-color);
    border: none;
    box-shadow: 2px 2px 5px #00000040;
    border-radius: 2rem;
    color: var(--font-color);
}

#start:hover {
    background-color: var(--font-color);
    color: #0b2934;
    cursor: pointer;
    transition: .15s;
}

#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem auto;
    max-width: 20rem;
}

#gameBoard div {
    border: 2px dashed var(--border-color);
    height: 6.3rem;
    width: 6.3rem;
}

.x {
    background: url('./src/x.png') no-repeat center;
    background-size: 3.5rem;
}

.circle {
    background: url('./src/circle.png') no-repeat center;
    background-size: 3.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.win {
    background-color: var(--victory-color);
}

.rounded-top-l {
    border-top-left-radius: .8rem;
}

.rounded-top-r {
    border-top-right-radius: .8rem;
}

.rounded-bt-l {
    border-bottom-left-radius: .8rem;
}

.rounded-bt-r {
    border-bottom-right-radius: .8rem;
}